.col-a-1 {
  width: 6.25%; }

.col-a-2 {
  width: 12.5%; }

.col-a-3 {
  width: 18.75%; }

.col-a-4 {
  width: 25%; }

.col-a-5 {
  width: 31.25%; }

.col-a-6 {
  width: 37.5%; }

.col-a-7 {
  width: 43.75%; }

.col-a-8 {
  width: 50%; }

.col-a-9 {
  width: 56.25%; }

.col-a-10 {
  width: 62.5%; }

.col-a-11 {
  width: 68.75%; }

.col-a-12 {
  width: 75%; }

.col-a-13 {
  width: 81.25%; }

.col-a-14 {
  width: 87.5%; }

.col-a-15 {
  width: 93.75%; }

.col-a-16 {
  width: 100%; }

@media screen and (max-width: 1020px) {
  .col-b-1 {
    width: 6.25%; }
  .col-b-2 {
    width: 12.5%; }
  .col-b-3 {
    width: 18.75%; }
  .col-b-4 {
    width: 25%; }
  .col-b-5 {
    width: 31.25%; }
  .col-b-6 {
    width: 37.5%; }
  .col-b-7 {
    width: 43.75%; }
  .col-b-8 {
    width: 50%; }
  .col-b-9 {
    width: 56.25%; }
  .col-b-10 {
    width: 62.5%; }
  .col-b-11 {
    width: 68.75%; }
  .col-b-12 {
    width: 75%; }
  .col-b-13 {
    width: 81.25%; }
  .col-b-14 {
    width: 87.5%; }
  .col-b-15 {
    width: 93.75%; }
  .col-b-16 {
    width: 100%; } }

@media screen and (max-width: 690px) {
  .col-c-1 {
    width: 6.25%; }
  .col-c-2 {
    width: 12.5%; }
  .col-c-3 {
    width: 18.75%; }
  .col-c-4 {
    width: 25%; }
  .col-c-5 {
    width: 31.25%; }
  .col-c-6 {
    width: 37.5%; }
  .col-c-7 {
    width: 43.75%; }
  .col-c-8 {
    width: 50%; }
  .col-c-9 {
    width: 56.25%; }
  .col-c-10 {
    width: 62.5%; }
  .col-c-11 {
    width: 68.75%; }
  .col-c-12 {
    width: 75%; }
  .col-c-13 {
    width: 81.25%; }
  .col-c-14 {
    width: 87.5%; }
  .col-c-15 {
    width: 93.75%; }
  .col-c-16 {
    width: 100%; } }

@media screen and (max-width: 520px) {
  .col-d-1 {
    width: 6.25%; }
  .col-d-2 {
    width: 12.5%; }
  .col-d-3 {
    width: 18.75%; }
  .col-d-4 {
    width: 25%; }
  .col-d-5 {
    width: 31.25%; }
  .col-d-6 {
    width: 37.5%; }
  .col-d-7 {
    width: 43.75%; }
  .col-d-8 {
    width: 50%; }
  .col-d-9 {
    width: 56.25%; }
  .col-d-10 {
    width: 62.5%; }
  .col-d-11 {
    width: 68.75%; }
  .col-d-12 {
    width: 75%; }
  .col-d-13 {
    width: 81.25%; }
  .col-d-14 {
    width: 87.5%; }
  .col-d-15 {
    width: 93.75%; }
  .col-d-16 {
    width: 100%; } }
